html {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
}

@media (max-width: 500px) {
  html {
    font-size: 12px;
  }
}

body,
html,
main,
section,
ul {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 1em;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-margin-start: 0;
  padding-bottom: 1em;
  -webkit-padding-start: 0;
}

h1 {
  font-size: 2.4em;
  font-weight: 100;
  margin: .8em 0 .8em 0;
}
